/* index styles will be here */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 0.5rem;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  width: 100vw;
  background-color: #d90086;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #c50876;
  color: #fff;
  height: 4rem;
  width: 100vw;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-right: 1rem;
}

.chevron-icon {
  margin-left: 1rem;
  color: #fff;
}

.search {
  width: 70%;
  height: 2.5rem;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 1rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #d90086;
}

.coin-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #d90086;
  border: 1px solid #22099c;
}

.coin-container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #22099c;
}

.header-img {
  width: 100px;
  object-fit: cover;
  border-radius: 100%;
  z-index: 1;
}

.home-header {
  display: flex;
  height: 9rem;
  flex-grow: 1;
  justify-content: center;
  width: 10rem;
  align-items: center;
  background-color: #d90086;
  color: #fff;
}

.home-header h2 {
  margin: 0.2rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  flex-grow: 1;
  height: 8rem;
  padding: 15px;
  border: 1px solid #d90086;
  background-color: #df0475;

  /* opacity: 0.8; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .gears {
  width: 2rem;
  height: 2rem;
  color: red;
} */
.detail-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  background-color: #d90086;
  color: #fff;
}

.detail-header img {
  width: 130px;
  object-fit: cover;
  border-radius: 100%;
  z-index: 1;
  margin: 2rem 0.3rem;
  border: 1px solid #22099c;
}

.detail-header p {
  margin: 0.2rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.detail-container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100vw;
}

.detail-container1 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  background-color: #d90086;
  color: #fff;
  border-top: 1px solid black;
  padding: 2rem 0;
}

.detail-container1 div p {
  margin: 0.2rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .navbar {
    height: 5rem;
    margin: 0;
  }

  .nav-icons {
    margin-right: 2rem;
  }

  .coin-container {
    justify-content: flex-start;
  }

  .coin {
    width: 15rem;
    height: 10rem;
    flex-grow: 1;
    align-content: flex-start;
  }
}
